body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #434455;
}

a {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding-inline-start: unset;
  margin: 0;
}

button {
  color: #ffffff;
  background-color: #4d5ae5;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

h1 {
  margin: 0;
  font-size: 56px;
  line-height: 1.07;
  color: #2e2f42;
}

h2 {
  margin: 0;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}

h3 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

p {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ============ Helper Components ============ */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1160px;
}

.section-title {
  margin-bottom: 72px;
  text-align: center;
}

/* ============ Header Components ============ */

.header-container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}

.logo-accent {
  color: #4d5ae5;
}

/* Navigation */

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  margin-left: 76px;
  display: flex;
  gap: 40px;
}

.nav-link {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link:active {
  color: #404bbf;
}

/* Address */

.address {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* ============ Hero Section ============ */

#hero {
  background-color: #2e2f42;
  min-height: 600px;
  align-content: center;
  justify-content: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 48px;
  max-width: 500px;
  color: #ffffff;
}

/* ============ Our Services section ============ */

.services-item-title {
  margin-bottom: 8px;
  color: #2e2f42;
}

/* ============ Our Team section ============ */

#team {
  background-color: #f4f4fd;
}

.team-content {
  padding: 32px 16px;
  text-align: center;
}

.team-content > h3 {
  margin-bottom: 8px;
  color: #2e2f42;
}

/* ============ Our Portfolio section ============ */

.portfolio-content {
  padding: 32px 16px;
}

.portfolio-content > h3 {
  margin-bottom: 8px;
  color: #2e2f42;
}

/* ============ Footer section ============ */

#footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  color: #f4f4fd;
}

.footer-container .logo {
  margin-bottom: 16px;
}
