:root {
  /* Fonts */
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;

  /* Colors */
  --primary-brand-color: rgba(77, 90, 229, 1);
  --pressed-state-color: rgba(64, 75, 191, 1);
  --dark-color: rgba(46, 47, 66, 1);
  --success-color: rgba(49, 208, 170, 1);
  --text-color: rgba(67, 68, 85, 1);
  --subtle-text-color: rgba(142, 143, 153, 1);
  --accent-color: rgba(231, 233, 252, 1);
  --light-color: rgba(244, 244, 253, 1);
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --hero-background-color: rgba(46, 47, 66, 1);
  --white-background-color: rgba(255, 255, 255, 1);
  --modal-background-color: rgba(252, 252, 252, 1);
}

body {
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  background-color: var(--white-background-color);
  color: var(--text-color);
}

a {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding-inline-start: unset;
  margin: 0;
}

button {
  color: var(--white-background-color);
  background-color: var(--primary-brand-color);
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--pressed-state-color);
}

h1 {
  margin: 0;
  font-size: 56px;
  line-height: 60px;
  color: var(--dark-color);
}

h2 {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  color: var(--dark-color);
}

h3 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--dark-color);
}

p {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ============ Helper Components ============ */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 48px;
  max-width: 1160px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.col-span-3 {
  grid-column: span 3;
}

.col-span-4 {
  grid-column: span 4;
}

.col-full {
  grid-column: 1 / -1;
}

.section-title {
  margin-bottom: 72px;
  text-align: center;
}

/* ============ Header Components ============ */

.header-container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}

.logo-accent {
  color: var(--primary-brand-color);
}

/* Navigation */

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  margin-left: 76px;
  display: flex;
  gap: 40px;
}

.nav-link {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state-color);
}

.nav-link:active {
  color: var(--pressed-state-color);
}

/* Address */

.address {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-item > a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* ============ Hero Section ============ */

#hero {
  background-color: var(--hero-background-color);
  min-height: 600px;
  align-content: center;
}

.hero-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 48px;
  max-width: 500px;
  color: var(--white-background-color);
}

/* ============ Our Services section ============ */

.services-item-title {
  margin-bottom: 8px;
  color: var(--dark-color);
}

/* ============ Our Team section ============ */

#team {
  background-color: var(--light-color);
}

.team-content {
  padding: 32px 16px;
  text-align: center;
}

.team-content > h3 {
  margin-bottom: 8px;
  color: var(--dark-color);
}

/* ============ Our Portfolio section ============ */

.portfolio-content {
  padding: 32px 16px;
}

.portfolio-content > h3 {
  margin-bottom: 8px;
  color: var(--dark-color);
}

/* ============ Footer section ============ */

#footer {
  background-color: var(--hero-background-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  color: var(--light-color);
}

.footer-container .logo {
  margin-bottom: 16px;
}
